:root {
  --accent-color: #404bbf;
  --primary-text-color: #2e2f42;
  --secondary-text-color: #434455;
}

body {
  font-family: 'Roboto', sans-serif;
}

a:visited {
  color: inherit;
}

.link {
  text-decoration: none;
  font-style: normal;
}

.list {
  list-style: none;
}

/*========== COMPONENTS ==========*/
.text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-color);
}

/*========== HEADER ==========*/
.page-header {
  background-color: #ffffff;
}

.logo-left {
  width: 44px;
  height: 21px;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo {
  width: 71px;
  height: 21px;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #2e2f42;
}

.menu-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.contact {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.contact:hover,
.contact:focus {
  color: var(--accent-color);
}

/*========== HERO ==========*/
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-section {
  background-color: #2e2f42;
}

.hero-btn {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
  cursor: pointer;
}

/*========== OUR TEAM ==========*/

.team {
  background-color: #f4f4fd;
}

/*========== FOOTER ==========*/

.footer {
  background-color: #2e2f42;
}

.logo-footer {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

/*========== PORTFOLIO PAGE ==========*/

/*========== FILTERS ==========*/

.filter-btn {
  background-color: #f4f4fd;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: #404bbf;
  color: #ffffff;
  cursor: pointer;
}

/*==========SECTION PORTFOLIO==========*/

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
